!!! 5
html
  head
    title 
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css')
    script(src='http://code.jquery.com/jquery-1.8.3.min.js')
    script(src='http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js')
    link(rel='stylesheet', href='./css/input.css')
    script(src='./js/sifiles.js')
    script(type='text/javascript').
      SI.Files.stylizeAll();
      

  body
    div(data-theme='d', data-role='dialog')
      div(data-role='header', style="background:white; color:black; text-shadow:none")
        h1()= _PHOTODOC.userUpload
        if _PHOTODOC.longitude != ""
          a.ui-btn-right(data-role="button", data-iconpos='notext', target="_blank",href="http://maps.google.com/maps?z=12&t=m&q=loc:#{_PHOTODOC.latitude}+#{_PHOTODOC.longitude}", style='background-image: url("http://www.worksourceonline.com/images/google_maps_pin_grey.png")' )
        else
          //div.ui-btn-right(data-role="button", data-iconpos='notext', href="#", style='background-image: url("http://www.worksourceonline.com/images/google_maps_pin_grey.png")' )
      div(data-role='content', style= 'text-align :center')
        img(src='#{_PHOTODOC.photoLink}' , width='auto' , height='270px', style="padding:1px;border:1px solid rgba(100,100,100,0.6);")
        div(style="text-align:center;padding-right:5px")
          a(href="#")= _PHOTODOC.photoDesc 
        div.rating= 'Rating = '+_PHOTODOC.currentRating
        if _PHOTODOC.numberOfRate == 1
          p= _PHOTODOC.numberOfRate+' person has rated this photo'
        else
          p= _PHOTODOC.numberOfRate+' people have rated this photo'

        //
           /navbar 
      //
         /footer 
    //
       /page 
